{% extends 'layout/index.html' %} {% block content %}
<ul class="list-group p-3">
  <li class="list-group-item bef bef-bg-moccasin bef-text-mystic text-center"><a class="text-decoration-none" href="/">Home</a></li>
  <li class="list-group-item bef bef-bg-moccasin bef-text-mystic text-center"><a class="text-decoration-none" href="/todo/lists">ToDo Lists</a></li>
  <li class="list-group-item bef bef-bg-moccasin bef-text-mystic text-center"><a class="text-decoration-none" href="/todo/categories">Categories</a></li>
</ul>
{% endblock %}
