{% extends 'layout/index.html' %} {% block content %} {% load static %}
<section>
  <form
    action="/todo/search_lists"
    method="GET"
    class="form-inline my-3 p-3 d-flex flex-nowrap justify-content-evenly align-items-center"
  >
    <input
      type="text"
      name="search"
      id="search"
      class="form-control bef bef-bg-moccasin bef-text-mystic"
      placeholder="Search Lists"
    />
    <button
      type="submit"
      class="btn btn-primary mx-2 bef bef-btn-mediumspringgreen bef-text-mystic"
    >
      Search
    </button>
  </form>
</section>
<section>
  <h3 class="text-center">Lists</h3>
  {% if lists %}
  <ul class="list-group list-group-flush p-3 rounded">
    {% for list in lists %}
    <li class="list-group-item text-center bef bef-bg-moccasin bef-text-mystic">
      <a
        class="text-capitalize text-center text-decoration-none"
        href="/todo/list/{{list.id}}"
      >
        {{ list.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <div class="text-center p-3">
    <p class="text-center">No Lists Found</p>
  </div>
  {% endif %}
</section>
<section class="my-3 pb-5 mb-5">
  <h3 class="text-center">Create New List</h3>
  <div class="form-group my-3 p-3">{{form.as_p}}</div>
  <button
    id="submit_button"
    class="d-block mx-auto mt-3 mb-5 btn bef bef-btn-mediumspringgreen bef-text-mystic fw-bold"
    disabled
  >
    Create New List
  </button>
  <div id="form_message"></div>
</section>
{% endblock %} {% block post_bef_scripts %}
<script src="{% static '/js/lists.js' %}"></script>
{% endblock %}
